---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/object/account
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch1","BillCycleDay":15,"Currency":"USD","Name":"Test Account","PaymentTerm":"Due
        Upon Receipt","Status":"Draft"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - 969aa2b4-de4d-443b-aa9c-dd0deff7f500
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0ff68a2d89b0168a5fa940c7133"}

'
  recorded_at: Thu, 31 Jan 2019 22:14:49 GMT
recorded_with: VCR 4.0.0
