---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/object/account
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch1","BillCycleDay":15,"Currency":"USD","Name":"Test Account","PaymentTerm":"Due
        Upon Receipt","Status":"Draft"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - c433898d-bba1-4384-9fc8-3229ae85a434
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0fc690db104016910ece4fc24fe"}

'
  recorded_at: Thu, 21 Feb 2019 16:39:14 GMT
recorded_with: VCR 4.0.0
