---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"batch":"Batch1","billCycleDay":15,"billToContact":{"country":"US","firstName":"Test","lastName":"User","state":"TX"},"creditCard":{"cardHolderInfo":{"addressLine1":"123
        Anystreet Lane","cardHolderName":"Test User","city":"Anytown","country":"US","state":"TX","zipCode":"00000"},"cardNumber":"4111111111111111","cardType":"Visa","expirationMonth":"12","expirationYear":"2099","securityCode":"123"},"currency":"USD","name":"Test
        Account","paymentTerm":"Due Upon Receipt"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      zuora-request-id:
      - 89edc3be-03ed-4fd5-afe7-baf9b43d0bd9
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92a008690a61a0016910ecddc619d3",
          "accountNumber" : "Z00324163",
          "billToContactId" : "2c92a008690a61a0016910ecdde419d4",
          "soldToContactId" : "2c92a008690a61a0016910ecddef19d6",
          "paymentMethodId" : "2c92a008690a61a0016910ecde1719d9"
        }
  recorded_at: Thu, 21 Feb 2019 16:39:12 GMT
recorded_with: VCR 4.0.0
