---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"batch":"Batch1","billCycleDay":15,"billToContact":{"country":"US","firstName":"Test","lastName":"User","state":"TX"},"creditCard":{"cardHolderInfo":{"addressLine1":"123
        Anystreet Lane","cardHolderName":"Test User","city":"Anytown","country":"US","state":"TX","zipCode":"00000"},"cardNumber":"4111111111111111","cardType":"Visa","expirationMonth":"12","expirationYear":"2099","securityCode":"123"},"currency":"USD","name":"Test
        Account","paymentTerm":"Due Upon Receipt"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      zuora-request-id:
      - 57593793-3724-4c43-97fe-2d8a52d27a8d
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92a00768a2b3890168a5fa8dd84414",
          "accountNumber" : "Z00324159",
          "paymentMethodId" : "2c92a00768a2b3890168a5fa8de6441a"
        }
  recorded_at: Thu, 31 Jan 2019 22:14:47 GMT
recorded_with: VCR 4.0.0
