---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/object/account
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch1","BillCycleDay":15,"Currency":"USD","Name":"Test Account","PaymentTerm":"Due
        Upon Receipt","Status":"Draft"}'
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zuora-Request-Id:
      - 58399b83-f985-4b20-9ce3-c3c0dd705abf
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0fc636cad9f0163750710097ad5"}

'
  recorded_at: Fri, 18 May 2018 20:53:07 GMT
recorded_with: VCR 3.0.3
