---
http_interactions:
- request:
    method: post
    uri: https://rest.zuora.com/v1/accounts
    body:
      encoding: UTF-8
      string: '{"batch":"Batch1","billCycleDay":15,"billToContact":{"country":"US","firstName":"Test","lastName":"User","state":"TX"},"creditCard":{"cardHolderInfo":{"addressLine1":"123
        Anystreet Lane","cardHolderName":"Test User","city":"Anytown","country":"US","state":"TX","zipCode":"00000"},"cardNumber":"4111111111111111","cardType":"Visa","expirationMonth":"12","expirationYear":"2099","securityCode":"123"},"currency":"USD","name":"Test
        Account","paymentTerm":"Due Upon Receipt"}'
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Zuora-Request-Id:
      - 3593f472-66c5-4887-97ab-e0d095a2464d
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92a0fc636cad92016375070a0e3b22",
          "accountNumber" : "Z00324103",
          "paymentMethodId" : "2c92a0fc636cad92016375070a493b28"
        }
  recorded_at: Fri, 18 May 2018 20:53:05 GMT
recorded_with: VCR 3.0.3
