---
http_interactions:
- request:
    method: delete
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc636cad92016375070a0e3b22
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zuora-Request-Id:
      - dc3c27f5-783d-49cb-a87e-5aae6e6c64cf
    body:
      encoding: UTF-8
      string: '{"id":"2c92a0fc636cad92016375070a0e3b22","success":true}

'
  recorded_at: Fri, 18 May 2018 20:53:08 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc636cad92016375070a0e3b22
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zuora-Request-Id:
      - 1776b8fc-8c58-4d97-b16d-677d3d9e6b52
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Fri, 18 May 2018 20:53:08 GMT
[...]
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc636cad9f0163750710097ad5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zuora-Request-Id:
      - 5fe3eb93-67ba-4199-b918-310c438e2769
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Fri, 18 May 2018 20:53:08 GMT
recorded_with: VCR 3.0.3
