---
http_interactions:
- request:
    method: delete
    uri: https://rest.zuora.com/v1/object/account/2c92a008690a61a0016910ecddc619d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - 85b15100-d816-46c4-90a9-8681fb25d1e4
    body:
      encoding: UTF-8
      string: '{"id":"2c92a008690a61a0016910ecddc619d3","success":true}

'
  recorded_at: Thu, 21 Feb 2019 16:39:15 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a008690a61a0016910ecddc619d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - 4a1f7e9f-fd0e-4187-9512-19258b4eca85
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Thu, 21 Feb 2019 16:39:20 GMT
[...]
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc690db104016910ece4fc24fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - 5453df72-ba55-47d5-9bd2-8888be7206fd
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Thu, 21 Feb 2019 16:39:25 GMT
recorded_with: VCR 4.0.0
