---
http_interactions:
- request:
    method: delete
    uri: https://rest.zuora.com/v1/object/account/2c92a00768a2b3890168a5fa8dd84414
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - a809db7a-3936-4189-9eef-4a7b9c6458d1
    body:
      encoding: UTF-8
      string: '{"id":"2c92a00768a2b3890168a5fa8dd84414","success":true}

'
  recorded_at: Thu, 31 Jan 2019 22:14:50 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a00768a2b3890168a5fa8dd84414
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - a9527ff8-7778-452e-8cc4-9ef0e0871cf6
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Thu, 31 Jan 2019 22:14:55 GMT
[...]
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0ff68a2d89b0168a5fa940c7133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - d40736dd-dd3f-4ffb-a579-978f216aae4f
    body:
      encoding: UTF-8
      string: '{"records":[],"size":0,"done":true}

'
  recorded_at: Thu, 31 Jan 2019 22:15:01 GMT
recorded_with: VCR 4.0.0
