---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/accounts/2c92a0fc636cad92016375070a0e3b22/summary
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Zuora-Request-Id:
      - 5a3248b1-0dd3-480e-be26-41f45324c87d
    body:
      encoding: UTF-8
      string: |-
        {
          "basicInfo" : {
            "id" : "2c92a0fc636cad92016375070a0e3b22",
            "name" : "Test Account",
            "accountNumber" : "Z00324103",
            "balance" : 0E-9,
            "lastInvoiceDate" : null,
            "lastPaymentDate" : null,
            "lastPaymentAmount" : null,
            "currency" : "USD",
            "status" : "Active",
            "batch" : "Batch1",
            "billCycleDay" : 15,
            "invoiceDeliveryPrefsPrint" : false,
            "invoiceDeliveryPrefsEmail" : false,
            "additionalEmailAddresses" : [ ],
            "Bucket2__c" : null,
            "Bucket3__c" : null,
            "Bucket4__c" : null,
            "Bucket1__c" : null,
            "memberid__c" : null,
            "LineofBusiness__c" : null,
            "BucketTotal__c" : null,
            "BusinessUnit__c" : null,
            "VATNumber__c" : null,
            "ProfileGroup__c" : null,
            "LatestDunningEmailSubject__c" : null,
            "TestAccountField__c" : null,
            "SuppressDunning__c" : null,
            "ACHVerificationCode__c" : null,
            "CCemail__c" : null,
            "publisher__c" : null,
            "DellAffinityNo__c" : null,
            "ACHVerificationTimestamp__c" : null,
            "defaultPaymentMethod" : {
              "id" : "2c92a0fc636cad92016375070a493b28",
              "paymentMethodType" : "CreditCard",
              "creditCardNumber" : "************1111",
              "creditCardExpirationMonth" : 12,
              "creditCardExpirationYear" : 2099,
              "creditCardType" : "Visa"
            }
          },
          "billToContact" : {
            "id" : "2c92a0fc636cad92016375070a1d3b23",
            "firstName" : "Test",
            "lastName" : "User",
            "address1" : null,
            "address2" : null,
            "city" : null,
            "county" : null,
            "state" : "Texas",
            "zipCode" : null,
            "country" : "United States",
            "workEmail" : null,
            "workPhone" : null,
            "taxRegion" : null,
            "fax" : null,
            "State2__c" : null
          },
          "soldToContact" : {
            "id" : "2c92a0fc636cad92016375070a293b25",
            "firstName" : "Test",
            "lastName" : "User",
            "address1" : null,
            "address2" : null,
            "city" : null,
            "county" : null,
            "state" : "Texas",
            "zipCode" : null,
            "country" : "United States",
            "workEmail" : null,
            "workPhone" : null,
            "taxRegion" : null,
            "fax" : null,
            "State2__c" : null
          },
          "taxInfo" : null,
          "subscriptions" : [ ],
          "invoices" : [ ],
          "payments" : [ ],
          "usage" : [ ],
          "success" : true
        }
  recorded_at: Fri, 18 May 2018 20:53:06 GMT
recorded_with: VCR 3.0.3
