---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc636cad9f0163750710097ad5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Apiaccesskeyid:
      - "{ZUORA_USERNAME}"
      Apisecretaccesskey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Zuora-Request-Id:
      - 1b0fcaaf-9168-4fc0-80d9-443754917cb2
    body:
      encoding: UTF-8
      string: '{"AccountNumber":"Z00324104","AllowInvoiceEdit":false,"InvoiceTemplateId":"2c92a0fb49377eae0149505ce4814ece","AutoPay":false,"InvoiceDeliveryPrefsPrint":false,"UpdatedDate":"2018-05-18T16:53:07.000-04:00","CreditBalance":0,"BillCycleDay":15,"BcdSettingOption":"ManualSet","PaymentTerm":"Due
        Upon Receipt","SuppressDunning__c":"false","Batch":"Batch1","CreatedById":"2c92a0fe5d8298e1015da3596e331713","CreatedDate":"2018-05-18T16:53:07.000-04:00","Name":"Test
        Account","Balance":0,"Id":"2c92a0fc636cad9f0163750710097ad5","InvoiceDeliveryPrefsEmail":false,"Currency":"USD","Status":"Draft","TotalInvoiceBalance":0,"UpdatedById":"2c92a0fe5d8298e1015da3596e331713"}

'
  recorded_at: Fri, 18 May 2018 20:53:07 GMT
recorded_with: VCR 3.0.3
