---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/accounts/2c92a008690a61a0016910ecddc619d3/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      zuora-request-id:
      - 06add1fe-e478-4e7a-aed9-007760ea9137
    body:
      encoding: UTF-8
      string: |-
        {
          "basicInfo" : {
            "id" : "2c92a008690a61a0016910ecddc619d3",
            "name" : "Test Account",
            "accountNumber" : "Z00324163",
            "balance" : 0E-9,
            "lastInvoiceDate" : null,
            "lastPaymentDate" : null,
            "lastPaymentAmount" : null,
            "currency" : "USD",
            "status" : "Active",
            "batch" : "Batch1",
            "billCycleDay" : 15,
            "invoiceDeliveryPrefsPrint" : false,
            "invoiceDeliveryPrefsEmail" : false,
            "additionalEmailAddresses" : [ ],
            "Bucket2__c" : null,
            "Bucket3__c" : null,
            "Bucket4__c" : null,
            "Bucket1__c" : null,
            "memberid__c" : null,
            "LineofBusiness__c" : null,
            "BucketTotal__c" : null,
            "BusinessUnit__c" : null,
            "VATNumber__c" : null,
            "ProfileGroup__c" : null,
            "LatestDunningEmailSubject__c" : null,
            "TestAccountField__c" : null,
            "SuppressDunning__c" : "false",
            "ACHVerificationCode__c" : null,
            "CCemail__c" : null,
            "publisher__c" : null,
            "DellAffinityNo__c" : null,
            "ACHVerificationTimestamp__c" : null,
            "defaultPaymentMethod" : {
              "id" : "2c92a008690a61a0016910ecde1719d9",
              "paymentMethodType" : "CreditCard",
              "creditCardNumber" : "************1111",
              "creditCardExpirationMonth" : 12,
              "creditCardExpirationYear" : 2099,
              "creditCardType" : "Visa"
            }
          },
          "billToContact" : {
            "id" : "2c92a008690a61a0016910ecdde419d4",
            "firstName" : "Test",
            "lastName" : "User",
            "address1" : null,
            "address2" : null,
            "city" : null,
            "county" : null,
            "state" : "Texas",
            "zipCode" : null,
            "country" : "United States",
            "workEmail" : null,
            "workPhone" : null,
            "taxRegion" : null,
            "fax" : null,
            "State2__c" : null
          },
          "soldToContact" : {
            "id" : "2c92a008690a61a0016910ecddef19d6",
            "firstName" : "Test",
            "lastName" : "User",
            "address1" : null,
            "address2" : null,
            "city" : null,
            "county" : null,
            "state" : "Texas",
            "zipCode" : null,
            "country" : "United States",
            "workEmail" : null,
            "workPhone" : null,
            "taxRegion" : null,
            "fax" : null,
            "State2__c" : null
          },
          "taxInfo" : null,
          "subscriptions" : [ ],
          "invoices" : [ ],
          "payments" : [ ],
          "usage" : [ ],
          "success" : true
        }
  recorded_at: Thu, 21 Feb 2019 16:39:13 GMT
recorded_with: VCR 4.0.0
