---
http_interactions:
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0ff68a2d89b0168a5fa940c7133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - f7a12f5d-6abd-4056-bc96-835de3e1b727
    body:
      encoding: UTF-8
      string: '{"AccountNumber":"Z00324160","AllowInvoiceEdit":false,"InvoiceTemplateId":"2c92a0fb49377eae0149505ce4814ece","AutoPay":false,"InvoiceDeliveryPrefsPrint":false,"UpdatedDate":"2019-01-31T17:14:49.000-05:00","CreditBalance":0,"BillCycleDay":15,"BcdSettingOption":"ManualSet","PaymentTerm":"Due
        Upon Receipt","SuppressDunning__c":"false","Batch":"Batch1","CreatedById":"2c92a0fe5d8298e1015da3596e331713","CreatedDate":"2019-01-31T17:14:49.000-05:00","Name":"Test
        Account","Balance":0,"Id":"2c92a0ff68a2d89b0168a5fa940c7133","InvoiceDeliveryPrefsEmail":false,"Currency":"USD","Status":"Draft","TotalInvoiceBalance":0,"UpdatedById":"2c92a0fe5d8298e1015da3596e331713"}

'
  recorded_at: Thu, 31 Jan 2019 22:14:49 GMT
recorded_with: VCR 4.0.0
