---
http_interactions:
- request:
    method: put
    uri: https://rest.zuora.com/v1/accounts/2c92a008690a61a0016910ecddc619d3
    body:
      encoding: UTF-8
      string: '{"batch":"Batch2"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      zuora-request-id:
      - cb12db93-8402-49a6-86fc-58e0964ddf03
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Thu, 21 Feb 2019 16:39:13 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/accounts/2c92a008690a61a0016910ecddc619d3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      zuora-request-id:
      - 52b6e090-1f98-43fa-9b14-7dd8b8156a02
    body:
      encoding: UTF-8
      string: |-
        {
          "basicInfo" : {
            "id" : "2c92a008690a61a0016910ecddc619d3",
            "name" : "Test Account",
            "accountNumber" : "Z00324163",
            "notes" : null,
            "status" : "Active",
            "crmId" : null,
            "batch" : "Batch2",
            "invoiceTemplateId" : "2c92a0fb49377eae0149505ce4814ece",
            "communicationProfileId" : null,
            "Bucket2__c" : null,
            "Bucket3__c" : null,
            "Bucket4__c" : null,
            "Bucket1__c" : null,
            "memberid__c" : null,
            "LineofBusiness__c" : null,
            "BucketTotal__c" : null,
            "BusinessUnit__c" : null,
            "VATNumber__c" : null,
            "ProfileGroup__c" : null,
            "LatestDunningEmailSubject__c" : null,
            "TestAccountField__c" : null,
            "SuppressDunning__c" : "false",
            "ACHVerificationCode__c" : null,
            "CCemail__c" : null,
            "publisher__c" : null,
            "DellAffinityNo__c" : null,
            "ACHVerificationTimestamp__c" : null,
            "salesRep" : null,
            "parentId" : null
          },
          "billingAndPayment" : {
            "billCycleDay" : 15,
            "currency" : "USD",
            "paymentTerm" : "Due Upon Receipt",
            "paymentGateway" : null,
            "invoiceDeliveryPrefsPrint" : false,
            "invoiceDeliveryPrefsEmail" : false,
            "additionalEmailAddresses" : [ ]
          },
          "metrics" : {
            "balance" : 0E-9,
            "totalInvoiceBalance" : 0E-9,
            "creditBalance" : 0E-9,
            "contractedMrr" : 0E-9
          },
          "billToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Test",
            "homePhone" : null,
            "lastName" : "User",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : "Texas",
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null,
            "State2__c" : null,
            "contactDescription" : null
          },
          "soldToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Test",
            "homePhone" : null,
            "lastName" : "User",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : "Texas",
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null,
            "State2__c" : null,
            "contactDescription" : null
          },
          "taxInfo" : null,
          "success" : true
        }
  recorded_at: Thu, 21 Feb 2019 16:39:13 GMT
recorded_with: VCR 4.0.0
