---
http_interactions:
- request:
    method: put
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc690db104016910ece4fc24fe
    body:
      encoding: UTF-8
      string: '{"Batch":"Batch2"}'
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - 18925c23-a413-4f70-aa15-6be9c51480d9
    body:
      encoding: UTF-8
      string: '{"Success":true,"Id":"2c92a0fc690db104016910ece4fc24fe"}

'
  recorded_at: Thu, 21 Feb 2019 16:39:14 GMT
- request:
    method: get
    uri: https://rest.zuora.com/v1/object/account/2c92a0fc690db104016910ece4fc24fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      apiAccessKeyId:
      - "{ZUORA_USERNAME}"
      apiSecretAccessKey:
      - "{ZUORA_PASSWORD}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      zuora-request-id:
      - eb23bfab-5866-4e43-9364-a72847924137
    body:
      encoding: UTF-8
      string: '{"AccountNumber":"Z00324164","AllowInvoiceEdit":false,"InvoiceTemplateId":"2c92a0fb49377eae0149505ce4814ece","AutoPay":false,"InvoiceDeliveryPrefsPrint":false,"UpdatedDate":"2019-02-21T11:39:14.000-05:00","CreditBalance":0,"BillCycleDay":15,"BcdSettingOption":"ManualSet","PaymentTerm":"Due
        Upon Receipt","SuppressDunning__c":"false","Batch":"Batch2","CreatedById":"2c92a0fe5d8298e1015da3596e331713","CreatedDate":"2019-02-21T11:39:14.000-05:00","Name":"Test
        Account","Balance":0,"Id":"2c92a0fc690db104016910ece4fc24fe","InvoiceDeliveryPrefsEmail":false,"Currency":"USD","Status":"Draft","TotalInvoiceBalance":0,"UpdatedById":"2c92a0fe5d8298e1015da3596e331713"}

'
  recorded_at: Thu, 21 Feb 2019 16:39:14 GMT
recorded_with: VCR 4.0.0
